h1 {color: darkblue; 
    font-size: 40pt; 
    text-align: center;
    text-decoration: underline;
    font-family:cursive;}
    
h2 {color: #003399; 
    font-size: 20pt; 
    text-decoration: underline;}
