header {background-color: #006699;
        color: white;
        font-size: 25pt; 
        text-align: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50px;}
        
body {margin-top: 50px;
      background-color:#E6ECEF}
        
leftsection {float: left;
             width: 20%;
             height: 500px;
             left: 0px;
             background-color: #668B9D;
             color: white;}

footer {clear: both;
        background-color: #CCD8DE;}
        
h1 {color: darkblue; 
    font-size: 40pt; 
    text-align: center;
    text-decoration: underline;}
    
h2 {color: darkgreen; 
    font-size: 20pt;}

h3{color:green}
             
caption {color: darkblue;
         font-size: 20px}
