     table {border-style: solid; 
            border-width: 2px;
            width: 100%;
            border-spacing: 7px;
            text-align: center;}
     
     th    {border-style: solid;
            border-width: 2px;
            border-color: orange;
            font-size: 20px;
            background-color: SandyBrown;}

     td    {border-style: solid; 
            border-width: 2px;
            border-color: blue;}
            
     caption {color: darkblue;
              font-size: 50px
              text-align:center;}
            
     .time {background-color: SandyBrown;
            border-color: orange;}
            
     .food {background-color: #FFCC99}
     .ws {background-color: #CCFF66}
     .ss {background-color: #CCCCFF}
     .wp {background-color: #6699FF}
     .hr {background-color: #66FF99}
     .lc {background-color: #FFFF99}
     .phi {background-color: #FFCCCC}
     .mcb {background-color: #CCFF33}
     .sp {background-color: #00CC99}
     .pio {background-color: #FF9999}
     
     #cc {background-color: #E7EFEF}
     #sts {background-color: #80B2E6}
     #gm {background-color: #CC9900}
     #sac {background-color: 	#CCF5E0}
